@use '../var';

.box {
  text-align: left;
  padding: 40px 0 10px;
  position: relative;
}
.box__title {
  padding-bottom: 40px;
  font-size: var.$size-h2;
  font-weight: var.$weight-bold;
  line-height: 120%;
  color: var.$color-text-green;
}