@use '../var';

.button-main{
  padding: 10.5px 20px;
  background: #222935;
  border: 0px solid #222935;
  border-radius: 5px;
  color: var.$color-text-light;
  transition: all 0.3s linear;
}
.button-main__text {
  font-family: var.$font-main;
  font-size: var.$size-title;
  font-weight: var.$weight-regular;
  line-height: 120%;
  transition: all 1s ease;
}
.button-main__icon {
  margin: 5px;
}
.button-main:hover {
  background-color: var.$color-text-green;
}

@media screen and (max-width: 600px) {
  .button-main__text {
    display: none;
  }
  .button-main {
    padding: 10px;
  }
}