@use '../var';

.panel__try {
  position: fixed;
  height: 100vh;
  background-color: var.$color-text-durk;
  left: 0;
  width: 16rem;
  transition: left 0.5s ease, width 0.5s ease;
}

.panel {
  padding-top: 20px;
  display: grid;
  
  grid-template-rows: auto;
  background-color: var.$color-text-durk;
  height: 100vh;
	overflow-y:auto;
  overflow-x: hidden;
}
.panel__try_non-active {
  left: -16rem;
}
.panel__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var.$color-text-durk;
  color: var.$color-text-light;
  right: -29px;
  top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.panel__button {
  align-self: end;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .panel__try {
    width: 3.4rem;
  }
  .panel__try_non-active {
    left: -3.4rem;
    transition: all 0.5s ease;
  }
  .panel .button-main__text {
    display: none;
  }
  .panel .button-main {
    padding: 10px;
  }
  .panel .photoBox__main_menu {
    opacity: 0;
    font-size: 0;
  }
  .panel .photoBox__img-box_menu {
    width:40px;
	  height:40px;
  }
  
}