@use '../var';

.panel {
  position: fixed;
  height: 100%;
  background-color: var.$color-text-durk;
  left: 0;
  width: 16rem;
  transition: left 0.5s ease, width 0.5s ease;
}
.panel_non-active {
  left: -16rem;
}
.panel__nav {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 11rem auto;
  background-color: var.$color-text-durk;
  height: inherit;
	overflow-y:auto;
  overflow-x: hidden;
}
.panel__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var.$color-text-durk;
  color: var.$color-text-light;
  right: -29px;
  top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.panel__button {
  align-self: end;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .panel {
    width: 3.4rem;
  }
  .panel_non-active {
    left: -3.4rem;
    transition: all 0.5s ease;
  }
  .panel__nav {
    .button-main__text {
      display: none;
    }
    .button-main {
      padding: 10px;
    }
    .photoBox__main_menu {
      opacity: 0;
      font-size: 0;
    }
    .photoBox__img-box_menu {
      width:40px;
      height:40px;
    }
  }
   
}