@use '../var';

// .panel {
//   position: relative;
//   width: 250px;
//   min-height: 100vh;
// }
.panel__nav {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var.$color-text-durk;
  width: 250px;
  min-height: 100vh;
  left: 0;
  transition: all 0.2s linear;
}
.panel__nav_non-active {
  left: -250px;
  transition: all 0.2s linear;
  position: absolute;
}
.panel__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var.$color-text-durk;
  color: var.$color-text-light;
  right: -30px;
  top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 600px) {
  .panel__nav {
    width: 54px;
  }
  .panel__nav_non-active {
    left: -54px;
    transition: all 0.2s linear;
    position: absolute;
  }
}