@use '../var';

.portfolio__tabs {
	font-size: var.$size-title;
	margin-bottom: 20px;
}
.portfolio__link {
	display: inline-block;
	padding: 0 0 0 10px;
	margin: 0 5px 0 0;
	position: relative;
	text-transform: capitalize;
}
.portfolio__link{
	cursor: pointer;
}
.portfolio__link_active{
	color: var.$color-text-green;
}
.portfolio__link:first-child{
	padding: 0;
}
.portfolio__link:first-child:after{
	display: none;
}
.portfolio__link:after{
	content: "/";
	position: absolute;
	top: 0;
	left: 0
}
.portfolio__filter-container{
	overflow: hidden;
	position: relative;
	min-height: 200px;
	display: flex;
	flex-wrap:  wrap;
}
.portfolio__item{
	max-width: 308px;
	max-height: 190px;
	margin: 0 20px 20px 0;
	position: relative;
	overflow: hidden;
}
.portfolio__info{
	height: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	padding: 20px 15px;
	background: hsla(0,0%,100%,.95);
	border: 1px solid #ddd;
	box-sizing: border-box;
	top: 100%;
	transition: all .5s ease;
}
.portfolio__item:hover .portfolio__info{
	top: 0
}
.portfolio__filter-container span{
	display: block
}
.portfolio__title{
	margin-bottom: 10px;
  color: var.$color-text-green;
	font-weight: var.$weight-bold;
	font-size: var.$size-title;
}
.portfolio__text{
	margin-bottom: 10px;
	font-size: var.$size-text;
}
.portfolio__sourse{
	font-size: var.$size-text;
	color: var.$color-text-green;
}