$color-text-light: #fff;
$color-text-durk: #222935;
$color-text-grey: #667081;
$color-text-green: #26c17e;
$font-main: "Open Sans", sans-serif;
$size-h1: 45px;
$size-h2: 25px;
$size-title: 16px;
$size-text: 14px;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;